* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div-main {
  width: 90vw;
  height: 80px;
  flex-direction: row;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.div-botao {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgb(242, 248, 252), rgb(149, 160, 179));
  border-radius: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.div-img {
  width: 100px;
  height: 70px;
  margin-left: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

.div-text {
  width: 35vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-left: 10px;
}

.div-icons {
  width: 10vw;
  height: 70px;
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.div-icon {
  width: 10vw;
  height: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid black;
}

.div-icon:focus {
  border-color: dodgerblue;
}

.div-icon:hover {
  background-color: rgb(206, 206, 207);
}
