@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

* {
  margin: 0;
  padding: 0;
}

.div-login {
  display: flex;
  justify-content: center; /* centraliza horizontalmente */
  align-items: center; /* centraliza verticalmente */
  height: 100vh; /* altura da viewport */
  flex-direction: column;
}

.back-login {
  font-family: "Poetsen One", sans-serif;
  color:white;
}

.logo-login {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.container {
  width: 70vw; /* 50% da largura da viewport */
  height: 300px; /* Ajuste a altura conforme necessário */
  background: linear-gradient(rgb(116, 116, 116), rgb(46, 46, 46)); /* Cor de fundo cinza */
  border-radius: 10px; /* Borda arredondada */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="password"] {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  width: 80%; /* Ajuste a largura conforme necessário */
  padding: 8px; /* Ajuste o preenchimento conforme necessário */
  border: 1px solid #ccc; /* Cor da borda */
  border-radius: 10px; /* Raio do arredondamento */
  outline: none; /* Remove a borda de foco padrão */
  margin-bottom: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: dodgerblue; /* Cor da borda ao focar */
  text-align: center;
}

.toggle-password {
  margin-left: 5%;
  transform: translateY(-30%);
  cursor: pointer;
  font-size: 20px; /* Tamanho do ícone */
}

.password-container {
  display: flex;
  width: 82.5%;
  flex-direction: row;
  align-items: center;
}

.botao {
  font-family: "Poetsen One", sans-serif;
  padding: 10px; /* Ajuste o preenchimento conforme necessário */
  border: none;
  border-radius: 20px; /* Borda arredondada */
  background-color: rgb(0, 0, 0); /* Cor de fundo padrão */
  color: white; /* Cor do texto */
  cursor: pointer; /* Mostra o cursor como uma mão ao passar o mouse */
  transition: background-color 0.3s; /* Adiciona uma transição suave */
  width: 40%;
}

.botao:hover {
  background-color: rgb(126, 125, 125); /* Mudança de cor ao passar o mouse */
}

/* Estilo do link Esqueci a senha */
.forgot-password {
  font-family: "Poetsen One", sans-serif;
  display: inline-block;
  margin-top: 10px;
  font-size: 10px;
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

.forgot-password:hover {
  color: #000000;
}
